.navbar-custom {
    height: 7rem;
}

.fixedHeightImg>img {
    max-height: 700px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.navbar-color {
    background-color: black;
}

.navbar {
    padding: 1.5rem 2rem;
}