* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.navbar-custom {
    height: 7rem;
}

.fixedHeightImg>img {
    max-height: 700px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.navbar-color {
    background-color: #00070d;
}

.navbar {
    padding: 1.5rem 3rem;
}

.link-custom:hover {
    color: red !important;
}

main {
    background: url(img/img-background.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 88.3vh;
}

.container-custom {
    display: flex;

}

.main-text, h1 {
    font-size: 36pt;
}

.main-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 18pt;
    margin: 0 20rem 0 7rem;
    color: #fff;
    padding: 13rem 0 0 0;
    gap: 1rem;
}

.main-img {
    margin: 7rem 10rem 0 0;
}

.main-img, img {
    border-radius: 80px;
}

.container-futebol {
    background: url(img/img-santos.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.titulo-futebol, .titulo-animais {
    color: white;
    text-align: center;
    padding-top: 1rem;
}

.container-card {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0 0 6rem;
}

.card img {
    height: 70vh;
}

.container-animais {
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.margin-animais {
    margin: 3rem 4rem;
}